body {
  margin: 0;
  color: #450404;
  font: 400 15px/1.8 "Aclonica", sans-serif;
}

.img-1, .img-2, .img-3, .img-4 {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.img-1 {
  min-height: 100vh;
  background-image: url("341-work/week-11-hw/css/imgs/barn.JPG");
}

.img-2 {
  min-height: 400px;
  background-image: url("341-work/week-11-hw/css/imgs/duck.JPG");
}

.img-3 {
  min-height: 400px;
  background-image: url("341-work/week-11-hw/css/imgs/cow.JPG");
}

.img-4 {
  min-height: 400px;
  background-image: url("341-work/week-11-hw/css/imgs/kitten.JPG");
}

.hero {
  padding: 50px 80px;
  color: white;
  background-color: #036126;
  text-align: center;
  text-align: justify;
}

.caption {
  position: absolute;
  top:50%;
  left: 0;
  width: 100%;
  color: #000;
  text-align: center;
}

.descripton-container {
  position: relative;
}

.description {
  padding: 50px 80px;
  color: white;
  background-color: #be0404;
  text-align: center;
  text-align: justify;
}

.caption span.border {
  padding: 18px;
  color: white;
  background-color: #082401;
  font-size: 20px;
  letter-spacing: 5px;
}

.h3 {
  color: #8f2402;
  font: 20px "Aclonica", sans-serif;
  letter-spacing: 5px;
}

@media only screen and (max-device-width: 1024px) {
  .img-1, .img-2, .img-3, .img-4 {
    background-attachment: scroll;
  }
}
