header {
  background-color: #062dfa;
  font-family: font-family: 'Philosopher', sans-serif;
  font-size: 18pt;
  margin-bottom: 0;
  height: 2.15em;
}

.menu-item {
  display: inline-block;
  margin: 0 0;
  min-width: 8em;
  text-align: center;
  background-color: #f6c90a;
  padding: 0.5em}

.menu-item a {
  color: #fa8a06;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 1px
  margin: 0;
  margin-top: 0.5em;
  color: #0abcf5;
  background color: #165f88;
  z-index: 1
}

.dropdown-content a {
  color: #06f68a
}

.dropdown-item {
  display: block;
  text-align: right;
  margin-left: 0;
  padding: 0.5em;
  min-width: 7em
}
