.body{
  background-color: #2e8f07;
  padding: 2em;
  margin: auto;
  font-family: 'Aclonica', sans-serif;
  font-size: 18pt;
  letter-spacing: kerning;
  line-height: leading;
}

.header-1, .header-2, .header-3, .header-4{
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.main-header{
  background-color: #c8f4d7;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.inspiring{
  float: right;
  background-color: #a5c608;
  position: right;
  padding: 2em;
}

.reading{
  background-color: #28c708;
  padding: 2em;
}

.uplifting{
  float: right;
  background-color: #058855;
  position: right;
  padding: 2em;
}

aside.imagination{
  float: right;
  margin: 1em;
  margin-top: 2em;
  background-color: #0a87fb;
  padding: 2em;
  width: 25%; 
}

aside .aside-text{
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: right;
}
