.body{
  background-color: #2e8f07;
  padding: 2em;
  margin: auto;
  font-family: 'Aclonica', sans-serif;
  font-size: 18pt;
  letter-spacing: kerning;
  line-height: leading;
}

.header-1, .header-2, .header-3, .header-4{
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.main-header{
  background-color: #c8f4d7;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.inspiring{
  float: right;
  background-color: #a5c608;
}

.reading{
  background-color: #28c708;
}

.uplifting{
  background-color: #058855;
}

.imagination{
  float: right;
  background-color: #0a87fb;
}
