 body {
   background-color: rgb(139, 87, 9)
 }
 h2 {
      border-style: solid;
      border-color: black
      background: rgb(139, 87, 9)
    }

font-family: 'Josefin Sans', sans-serif;
font-family: 'Exo', sans-serif;
