type text/css
 body {
   background-color: #c28b2d
 }
 .head-2 {
      border-style: solid;
      border-color: black
      background: #8b5709
    }
font-family: 'Josefin Sans', sans-serif;
font-family: 'Exo', sans-serif;
